.cell {
    /*border: 1px solid #CCC;*/
    float: left;
    padding: 12px;
    width: 20%;
}

.cell input {
	border: none;
	padding-left: 10px;
	width: 100%;
}

.header .table-row {
  background-color: #CCC;
}

.table-component,
.table-row {
  overflow: hidden;
}

.table-row {
  border: 1px solid #CCC;
}

.notAvl {
  background-color: rgba(245, 59, 59, 0.65);
}

.avl {
  background-color: rgba(57, 214, 57, 0.8);
}

.buttn {
    border: none;
    padding: 4px;
    text-align: center;
    width: 100%;
    color: black;
    font-size: 13px;
    font-weight: bold;
}

.buttn:hover {
  background-color: #CCC;
}
